# Python 3

## 1. Pip, Modules and Packages

In [15]:
#!pip list
#!pip install numpy
#!pip install pandas
#!pip install cowsay
#!pip install matplotlib
import matplotlib as plt
import pandas as pd
import cowsay
print(cowsay)
cowsay.stegosaurus("Hi From Alexa")

<module 'cowsay' from 'C:\\Users\\Vlastnik\\anaconda3\\Lib\\site-packages\\cowsay\\__init__.py'>
  _____________
| Hi From Alexa |
  =============
                   \
                    \
                     \
                      \
                                         .       .
                                        / `.   .' \
                                .---.  <    > <    >  .---.
                                |    \  \ - ~ ~ - /  /    |
                    _____        ~-..-~             ~-..-~
                   |     |   \~~~\.'                    `./~~~/
                  ---------   \__/                        \__/
                 .'  O    \     /               /       \  "
                (_____,    `._.'               |         }  \/~~~/
                 `----.          /       }     |        /    \__/
                       `-.      |       /      |       /      `. ,~~|
                           ~-.__|      /_ - ~ ^|      /- _      `..-'   f:  f:
                                |     /        |     /     ~-.     `-. _|| _||_
                                |_____|        |_____|         ~ - . _ _ _ _ __>

## 2. Control Flow

#### 01. if, else, elif
#### 02. for
#### 03. while
#### 04. break, continue

## 3. If

In [32]:
age = abs(int(input("How old are you ? ")))
print("You are" , age, "years old...")

if age >= 18:
    print("You are eligible to drive a car")
else:
    print("You are not eligible to drive a car")

How old are you ?  18

You are 18 years old...
You are eligible to drive a car

In [33]:
age = abs(int(input("How old are you ? ")))
print("You are" , age, "years old...")

if age < 18:
    print("You are not eligible to drive a car")

elif age < 90:
    print("You are eligible to drive a car")

else:
    print("You are not eligible to drive a car")

How old are you ?  91

You are 91 years old...
You are not eligible to drive a car

In [36]:
age = abs(int(input("How old are you ? ")))
print("You are" , age, "years old...")

if age >= 18 and age < 90:
    print("You are eligible to drive a car")

else:
    print("You are not eligible to drive a car")

How old are you ?  17

You are 17 years old...
You are not eligible to drive a car

## 4. Logical operations

#### and
#### or
#### not

In [38]:
#and
print("\nAnd")
print(True and True)
print(True and False)

#or
print("\nOr")
print(True or True)
print(True or False)

#not
print("\nNot")
print(not(True or False))
print(not(True and False))

#= assignement
print("\n=")
a = 65
print(a)

#== comparism
print("\n==")
print(a==a)

And
True
False

Or
True
True

Not
False
True

=
65

==
True

## 5. For

In [51]:
list_of_users = ["Iva", "Peter", "Alex", "Jana", "Dona", "Miki"]
print("Content of list --> ", list_of_users)
print("Count of aspects in list --> ", len(list_of_users))
print("First user --> ", list_of_users [0])
print("Last user --> ", list_of_users [-1])

print("\nRange:")
numbers = range(9)
print(list(numbers))
numbers1 = range(1,19)
print(list(numbers1))
numbers2 = range(1,11,2)
print(list(numbers2))


print("\nIn:")
list_of_users = ["Iva", "Peter", "Alex", "Jana", "Dona", "Miki"]
print("Miki" in list_of_users)

Content of list -->  ['Iva', 'Peter', 'Alex', 'Jana', 'Dona', 'Miki']
Count of aspects in list -->  6
First user -->  Iva
Last user -->  Miki

Range:
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[1, 3, 5, 7, 9]

In:
True

In [53]:
for i in range(5):
    print( i, "Hi Alexa")

0 Hi Alexa
1 Hi Alexa
2 Hi Alexa
3 Hi Alexa
4 Hi Alexa

In [56]:
list_of_users = ["Iva", "Peter", "Alex", "Jana", "Dona", "Miki"]
print("List of users:")
for user in list_of_users:
    print(user)

List of users:
Iva
Peter
Alex
Jana
Dona
Miki

In [59]:
result = 0
for i in range(1, 4):
    result = result + i

print("Result will be: ")
print(result)

Result will be:
6

In [61]:
list_of_users = ["Iva", "Peter", "Alex", "Jana", "Dona", "Miki"]
print("Reversed list:")
for user in reversed(list_of_users):
    print(user)

Reversed list:
Miki
Dona
Jana
Alex
Peter
Iva

In [64]:
list_of_users = ["Iva", "Peter", "Alex", "Jana", "Dona", "Miki"]
print("Numbered list:")
for i, user in enumerate(list_of_users):
    print(i+1, "-->", user)

Numbered list:
1 --> Iva
2 --> Peter
3 --> Alex
4 --> Jana
5 --> Dona
6 --> Miki

## 6. While

In [70]:
i = 1
while i < 10:
    print(i, "Hi Alex!")
    i += 1

print("We are at the end....")

1 Hi Alex!
2 Hi Alex!
3 Hi Alex!
4 Hi Alex!
5 Hi Alex!
6 Hi Alex!
7 Hi Alex!
8 Hi Alex!
9 Hi Alex!
We are at the end....

In [72]:
year = 2025
while True:
    print("I want to live in the year", year)
    year += 1

    if year >= 2030:
        print("The end")
        break

I want to live in the year 2025
I want to live in the year 2026
I want to live in the year 2027
I want to live in the year 2028
I want to live in the year 2029
The end

In [74]:
for i in range(1,20):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19